In [1]:
import data_utils as du
import pandas as pd

data_dir = du.find_data_dir('app')

In [5]:
chemical_protein_tsv_file = du.get_file_path(data_dir, 'STITCH', 'chemical_protein', '9606.protein_chemical.links.v5.0.tsv')
chemical_chemical_tsv_file = du.get_file_path(data_dir, 'STITCH', 'chemical_chemical', 'chemical_chemical.links.v5.0.tsv')

In [4]:
pd.read_csv(chemical_protein_tsv_file, delimiter="\t")

              chemical               protein  combined_score
0         CIDm91758680  9606.ENSP00000257254             279
1         CIDm91758680  9606.ENSP00000302120             154
2         CIDm91758408  9606.ENSP00000006777             225
3         CIDm91758408  9606.ENSP00000056217             178
4         CIDm91758408  9606.ENSP00000216085             225
...                ...                   ...             ...
15473934  CIDs00000001  9606.ENSP00000420588             151
15473935  CIDs00000001  9606.ENSP00000436585             279
15473936  CIDs00000001  9606.ENSP00000438144             311
15473937  CIDs00000001  9606.ENSP00000448165             322
15473938  CIDs00000001  9606.ENSP00000453129             197

[15473939 rows x 3 columns]

In [6]:
pd.read_csv(chemical_chemical_tsv_file, delimiter="\t")

             chemical1     chemical2  textmining
0         CIDm00024759  CIDs00024759           0
1         CIDs91758695  CIDs00107694         230
2         CIDs91758695  CIDs11013287         230
3         CIDs91758695  CIDs11980957         328
4         CIDs91758695  CIDs00013078         162
...                ...           ...         ...
17705813  CIDm00000001  CIDm87081431         173
17705814  CIDm00000001  CIDm90857042         218
17705815  CIDm00000001  CIDm91056687         294
17705816  CIDm00000001  CIDm91213096         357
17705817  CIDs00024759  CIDm00024759           0

[17705818 rows x 3 columns]